@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/@bigbinary/neetoui/dist/index.css";
@import "node_modules/react-toastify/dist/ReactToastify.min.css";

* {
  box-sizing: border-box;
}

.black-button--primary {
  color: rgb(var(--neeto-ui-white)) !important;
  background-color: rgb(var(--neeto-ui-gray-800)) !important;

  &:not(.naked) {
    border: 1px solid black !important;

    &:focus {
      box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-500), 15%) !important;
    }

    &:focus-visible {
      color: rgb(var(--neeto-ui-white)) !important;
    }

    &:hover,
    :focus {
      color: rgb(var(--neeto-ui-white)) !important;
      background-color: rgb(var(--neeto-ui-black)) !important;
    }
  }


  &:focus {
    box-shadow: none !important;
  }

  &:focus-visible {
    color: none !important;
  }
}

.black-button--secondary {
  background-color: rgb(var(--neeto-ui-white)) !important;
  color: rgb(var(--neeto-ui-gray-800)) !important;

  &:not(.naked) {
    border: 1px solid black !important;

    &:focus {
      box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-500), 15%) !important;
    }

    &:focus-visible {
      color: rgb(var(--neeto-ui-white)) !important;
    }

      &:hover,
      :focus {
        color: rgb(var(--neeto-ui-white)) !important;
        background-color: rgb(var(--neeto-ui-black)) !important;
      }
  }


  &:focus {
    box-shadow: none !important;
  }

  &:focus-visible {
    color: none !important;
  }

  & .naked {
    &:focus,
    &:focus-visible {
      box-shadow: none;
    }
  }
}

div:has(> input:not(.neeto-ui-react-select__input)),
div:has(> textarea),
.neeto-ui-react-select__control {
  &:focus-visible {
    box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-500), 15%) !important;
    border-color: black !important;
  }

  &:focus-within {
    border-color: black !important;
    box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-500), 15%) !important;
  }
}

.neetix-button--primary {
  --neeto-ui-btn-color: rgb(var(--neeto-ui-white));
  --neeto-ui-btn-bg-color: rgb(var(--neeto-ui-gray-800));
  --neeto-ui-btn-hover-color: rgb(var(--neeto-ui-white));
  --neeto-ui-btn-hover-bg-color: rgb(var(--neeto-ui-black));
  --neeto-ui-btn-focus-color: rgb(var(--neeto-ui-white));
  --neeto-ui-btn-focus-box-shadow: 0 0 0 3px rgba(var(--neeto-ui-gray-500), 15%);
  --neeto-ui-btn-focus-visible-color: rgb(var(--neeto-ui-white));
}

.neetix-pagination {
  --neeto-ui-pagination-item-width: 32px;
  --neeto-ui-pagination-item-height: 32px;
  --neeto-ui-pagination-item-active-border-color: rgb(var(--neeto-ui-gray-800));
  --neeto-ui-pagination-item-active-bg-color: rgb(var(--neeto-ui-gray-800));
}

.neetix-checkbox {
  --neeto-ui-checkbox-color: rgb(var(--neeto-ui-gray-800));
  --neeto-ui-checkbox-focus-visible-outline: 3px solid rgba(var(--neeto-ui-gray-800), 50%);
  --neeto-ui-checkbox-checked-border-color: rgb(var(--neeto-ui-gray-800));
}
